header {
    font-style: normal;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.container-header {
    display: flex;
    width: 1280px;
    height: 44px;
    align-items: center;
    justify-content: space-between;
}

.container-logo-nav {
    display: flex;
    gap: 142px;
    align-items: center;
}

.container-logo-nav nav ul {
    display: flex;
    gap: 32px;
}

nav a {
  text-decoration: none; 
  color:var(--text-color);
}

#btn-entrar {
    width: 84px;
    height: 44px;
    background-color: var(--background-color);
    padding: 0;
    border: solid 1px var(--background-color);
    border-radius: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);

}

#btn-entrar:hover {
    cursor: pointer;
}

.btn-estilo {
    color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--main-color);
    border: solid 1px var(--main-color);
    border-radius: 8px;
    width: 112px;
    height: 44px;

}

#btn-cadastrar:hover {
    cursor: pointer;
}

.btn-contato:hover {
    cursor: pointer;
}